{% extends 'articles/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb4">Password Reset</legend>
        </fieldset>
        {% if form.errors %}
        <div class="alert mb-3" width="100%" style="border-color: #dc3545; color: #dc3545">
            <strong>Please correct the error(s) below</strong>
        </div>
        {% endif %}
        {{ form | crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Request Password Reset Link
            </button>
        </div>
    </form>
</div>

{% endblock content %}