{% extends 'articles/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
    {% if validlink %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb4">New password</legend>
        </fieldset>
        {% if form.errors %}
        <div class="alert mb-3" width='100%' style="border-color: #dc3545; color: #dc3545">
            <strong>Please correct the error(s) below</strong>
        </div>
        {% endif %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
    </form>
    {% else %}
    <div class="alert mb-3" style="border-color: #dc3545; color: #dc3545">
        <strong>
            The Password Reset link was invalid,
            possibly because it has already been used.
        </strong>
    </div>
    <div>
        <a href="{% url 'password_reset' %}" class="btn btn-primary"> Request another link </a>
    </div>
    {% endif %}
</div>

{% endblock content %}