{% extends "articles/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <img src="{{ article.thumbnail.url }}" class="rounded-circle article-img" />
        <div class="article-metadata">
            Author:
            <a href="{% url 'user_articles' article.author.username %}" class="mr-2">{{ article.author }}</a>
            <small class="text-muted">{{ article.date_created |date:"F d, Y." }}
            </small>
            {% if article.author == request.user %}
            <div>
                <a href="{% url 'delete_article' article.slug %}" class="btn btn-danger btn-sm mb-1 mt-1">
                    Delete
                </a>
                <a href="{% url 'update' article.slug %}" class="btn btn-secondary btn-sm mb-1 mt-1"> Update </a>
            </div>
            {% endif %}
            <h3 class="article-title">{{ article.title }}</h3>
        </div>
        <p>
            {{ article.content }}
        </p>
    </div>
</article>
<br>

{% if user.is_authenticated %}
<div class="content-section">
    <form method="POST">
        {% if form.errors %}
        <div class="alert mb-3" width='100%' style="border-color: #dc3545; color: #dc3545">
            <strong>Please correct the error(s) below</strong>
        </div>
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-primary btn-sm" type="submit">Comment</button>
        </div>
    </form>
</div>
<br>
{% endif %}

<div class="content-section text-muted">
    <h5>Comments({{ count }})
        {% if not user.is_authenticated %}
        <small style="color: red;">: Sign in to be able to comment. </small>
        {% endif %}
    </h5>
</div>

{% for comment in comments %}
<article class="media content-section">
    <img src="{{ article.thumbnail.url }}" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">By
            <a href=" {% url 'user_articles' comment.author.username %} " class="mr-2"> {{ comment.author }} </a> On
            <small class="text-muted"> {{ comment.date_created|date:"F d, Y."}} </small>
        </div>
        <p> {{ comment.content }} </p>
    </div>
</article>
{% endfor %}

{% endblock content %}