{% extends 'articles/base.html' %}


{% block content %}

<h4 class="main content-section" style="text-align: center">
    Articles by {{ title }}({{count}})
</h4>

{% for article in page.object_list %}
<article class="media content-section">
    <img src="{{ article.thumbnail.url }}" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">By
            <a href="{% url 'user_articles' article.author.username %}" class="mr-2"> {{ article.author }} </a> On
            <small class="text-muted"> {{ article.date_created|date:"F d, Y."}} </small>
        </div>
        <h4> <a href="{{ article.get_absolute_url }}" class="article-title"> {{ article.title }}</a> </h4>
        <p class="article-content"> {{ article.snippets }} </p>
    </div>
</article>
{% empty %}
<h4 class="alert alert-info">No articles posted yet...</h4>
{% endfor %}

{% include 'articles/paginator.html' %}

{% endblock content %}